text {
  font-family: sans-serif;
  font-size: 10px;
}

.node {
  stroke-linecap: round;
}

.link {
  fill: none;
}

.graph {
  position: relative;
}

div.d3 {
  background: white;
  overflow: scroll;
}

div.popup {
  position: absolute;
}

div.pancontrols {
  position: absolute;
  top: 20px;
  right: 30px;
}

div.pancontrols lightning-slider {
  display: inline-block;
}

div.pancontrols table {
  float: right;
}

div.legend {
  position: absolute;
  top: 20px;
  left: 20px;
}

div.zoomcontrols {
  position: absolute;
  top: 200px;
  right: 30px;
}

div.datefilter {
  width: 30em;
  position: absolute;
  top: 0px;
  left: 150px;
}

image {
  pointer-events: none;
}